<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign upt</title>
</head>
<body>
    <h3>Sign up:</h3>
    <form action="/signUp" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Ingrese su nombre">
        <input type="text" name="address" placeholder="Ingrese su dirección">
        <input type="number" name="age" placeholder="Ingrese su edad">
        <input type="tel" name="phone" placeholder="Ingrese su numero de telfono">
        <input type="email" name="email" placeholder="Ingrese un mail">
        <input type="password" name="password" placeholder="Ingrese una contraseña">
        <input type="file" name="thumbnail" placeholder="Ingrese una foto de usted">
        <button>Sign up</button>
    </form>
    <button onclick="location.href='/login'">Ir al Sign in</button>

    <!--My js-->
    <script src="/main.js"></script>
</body>
</html>