@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

/*Table*/
.noProdsMessage{
    margin: 1rem;
}
.imgProd{
    width: 5rem;
}
.tableContainer{
    width: 80%;
    margin: auto;
}
.prodLogOut{
    width: 8%;
}
.noProdsCart{
    width: 80%;
    margin: auto;
}

/* Centro de Mensajes */
.mensajesTitulo{
    color: blue;
    text-align: center;
    margin-top: 1rem;
}
.mensajesTitulo input{
    margin-top: 1rem;
}
.mail{
    color: blue;
    font-weight: bold;
}
.fecha{
    color: brown;
}
.msj{
    font-style: italic;
    color: green;
}